@media screen and (max-width: 576px) {
    .nav-container, .nav-list-container > ul {
        flex-direction: column;
        gap: 20px;
    }
    .banner-container{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-img > img {
        width: 100%;
        margin-right: 0px;
    }
    .banner-img{
        order: -1;
    }
    .banner-content > div > h3{
        font-size: 1.8rem;
    }
    .banner-content > div > h1{
        font-size: 4rem;
    }
    .banner-content > div > p{
        font-size: 0.8rem;
        padding-left: 80px;
    }
    .gamer-section-container{
        flex-direction: column;
    }
    .gamer-img > img{
        width: 100%;
    }
    .gamer-content{
        text-align: center;
    }
    .gamer-content > h3{
        font-size: 2rem;
    }
    .gamer-content > p{
        font-size: .8rem;
    }
    .our-purpose{
        font-size: 1rem;
    }
    .gamer-content h4{
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    .funny-videos-container{
        flex-direction: column;
    }
    .online-games-title{
        font-size: 1.8rem;
    }
    .online-games-description{
        font-size: 0.8rem;
    }
    .play-games-online-container{
        flex-direction: column;
    }
    .play-games-online-content .play-games-title{
        margin: 0px;
        padding: 20px;
    }
    .big-img{
        width: 70%;
    }
    .small-img{
        width: 40%;
        position: relative;
        top: -100px;
        left: 210px;
    }
    .play-games-online-content .play-games-title{
        font-size: 2rem;
        text-align: center;
    }
    .play-games-online-content .play-games-description{
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 50px;
    }
    .games-link-container-one{
        flex-direction: column;
        gap: 20px;
    }
    .games-link-container-two{
        flex-direction: column;
        gap: 20px;
    }
    
    .sing-in-btn{
        font-size: 1rem;
        padding: 15px 30px;
    }
    .go-rogue-btn{
        font-size: 1rem;
        padding: 15px 30px;
    }
    .footer-item-container ul{
        flex-wrap: wrap;
        /* line-height: 0px; */
        gap: 25px;
    }
    .footer-icon{
        flex-wrap: wrap;
        line-height: 0px;
        padding: 50px 20px;
    }
    .footer-logo-container{
        margin-bottom: 50px;
        padding-top: 50px;
    }
    .copyright{
        padding-bottom: 50px;
    }
    .btn-primary{
        font-size: 1rem;
        padding: 15px 30px;
    }
    

}




@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container{
        max-width: none;
        margin: 0px 20px;
        gap: 20px;
    }
    .banner-container{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-img > img{
        margin-right: 0px;
        margin-left: 20px;
    }
    .gamer-section-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .online-games-title{
        /* font-size: 2rem; */
    }
    .gamer-img > img{
        max-width: 100%;
    }
    .funny-videos-container {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding-left: 150px;
        }
        .play-games-online-container{
            flex-direction: column-reverse;
            max-width: 100%;
        }
        .big-img{
            max-width: 70%;
            /* position: absolute; */
            /* margin-right: 500px; */
        }
        .small-img{
            position: relative;
            max-width: 40%;
            left: 300px;
        }
        .play-games-online-content .play-games-title{
            margin-top: 0px;
        }
        .play-games-online-content .play-games-description{
            margin-bottom: 30px;
        }
        .games-link-container-one, .games-link-container-two{
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-between;
        }
        .banner-content{
            order: 1;
        }
}